.wrapper {
  height: 4.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.menuNav {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .itemMenu {
    margin-right: 1rem;
  }

  .menu {
    font-size: 1em;
    font-weight: 600;
    display: flex;
    //align-items: center;
    position: relative;
  }

  .menu:hover {
    color: var(--color-additional);
  }
 /*  .menu::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    top: 26px;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  .menu:hover::before {
    transform: scaleX(1);
    color: var(--color-gray-100)
  } */

  li {
    list-style: none;
  }

  .iconTheme {
    padding: 0.5rem;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0.2rem;
  }
  .iconTheme:hover {
    background-color: (var(--color-additional));
  }
  
  
}

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all 0.3s ease;
    background-color: var(--color-base-300);
  }


 @media(max-width:1024px){
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .menuNav{
    position: fixed;
    top: -100%;
    gap:0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1000;
    align-items: center;
    border-bottom: solid 1px var(--color-base-200);
  }

  .itemMenu {
    margin: 0.5rem 0;
  }

  .menuNav.active{
    left: 0;
    top: 70px;
  }

  .itemMenu {
    padding: 0.5rem 0;
  }
  


 }


.dark {
  color: var(--color-base-300);
  background-color: var(--color-background-light);

  .menu::before {
    background-color: var(--color-base-300);
  }

  .menuNav {
    background-color: var(--color-background-light);
  }
}

.light {
  color: var(--color-base-100);
  background-color: var(--color-background-dark);

  .menu::before {
    background-color: var(--color-base-100);
  }

  .menuNav {
    background-color: var(--color-background-dark);
  }
}