.wrapper {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  padding: 0 13rem;
  justify-content:center;
  min-height: calc(100vh - 3.75rem);
  position: relative;
  align-items: center;
}
.images {

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .profile {
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    border: solid 3px var(--color-base-200);
    left: 3rem;
    top: 3rem
  }
  
  .graphics {
    z-index: 2;
    opacity: 0.1;
  }
}

.apresentation {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 2rem;

  .text {
    top: 7rem;
    font-weight: 400;


    :nth-child(1){
      font-size: 2.5rem;
    }

    :nth-child(2) {
      font-size: 1rem;
      line-height: 1.3em;
      text-align: justify;
      left: -5px;
    }
  }

}

@media (max-width: 768px){
  .main {
    padding: 1rem;
    flex-wrap: wrap;
  }

  .images, .apresentation {
    width: 100%;
  }

  .apresentation {
    margin-left: 0;
  }

  
  .graphics {
    width: 20rem;
  }
}

.dark{
  background-color: var(--color-background-light);

  color: var(--color-base-300)
}

.light{
  background-color: var(--color-background-dark);

  color: var(--color-base-100)
}
