.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 4.5rem 2rem;
  justify-content: center;

}

.projects {
  flex-wrap: wrap;
  margin-top: 1rem;
  display: flex;
  padding: 0 5rem;
  justify-content:flex-start;
}

.title {
  font-size: 2rem;
  margin-top: 1.7rem;
  font-weight: 300;
  align-self: flex-start;
}

.graphicCover {
  position: relative;
  width: 230px;
  height: 180px;
}
.graphics {
  position: absolute;
  opacity: 0.1;
}
.project {
  padding: 0 1.2rem;
}
.imgProject {
  position: absolute;
  top: 66px;
  left: 12px;
  background-color: rgb(54, 51, 51);
  border: 3px solid var(--color-base-200);
  border-radius: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 0.5rem 0 0 1rem;
  
}
.titlePoject {
  font-weight: 500;
  text-align: center;
}
.technology {
  font-size: 0.8rem;
  margin-top: 0.3rem;
  text-align: center;
}
.links {
  display: flex;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  text-decoration: underline;
  justify-content: space-between;

  a {
    cursor: pointer;
  }

 
}

@media(max-width:768px) {
  .projects {
    padding: 0;
  }
}

.dark{
  background-color: var(--color-background-light);

  color: var(--color-base-300)
}

.light{
  background-color: var(--color-background-dark);

  color: var(--color-base-100)
}
